Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@xhieu2206
github
/
gitignore
2.9k
94.8k49.4k
 Code Pull requests 139 Actions Projects 0 Security Insights
gitignore/Rails.gitignore
@hshimoyama hshimoyama Add .env.* to optionally ignored files in Rails.gitignore. (#3065)
1604c21 on Dec 6, 2019
@arcresu@sidewinder94@shawndavenport@maxehmookau@jeffrydegrande@defunkt@grossadamm@zellux@yaroslav@wafiq@valentine@tomafro@seenmyfate@chimame@renhx@lunks@pisaacs@sdhull@michaelminter@mwitek@okuramasafumi@schweigert@martinciu@jgeiger@hshimoyama@gurvircheema
68 lines (54 sloc)  1.3 KB

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
.env
.env.*

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
